* {
	font-family: Poppins;
}

.container {
	width: 100%;
	margin-top: 20px;
}

.sideNav {
	background: #1F2023;
	box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
	border-radius: 10px;
	width: 25%;
}

.sideNav .logo {
	margin: 10%;
}

.sideNav ul {
	list-style: none;
}

.sideNav ul li span {
	color: #787C87;
	font-weight: 600;
	font-size: 14px;
	margin: 15px;
	text-transform: uppercase;
}

.sideNav ul li {
	margin-top: 15px;
}

.sideNav ul li:first-child {
	margin-top: 0;
}

.sideNav > ul:nth-of-type(2) {
	margin-top: 40px;
	margin-bottom: 40px;
}


.sideNav center a {
	color: black;
	font-weight: bolder;
	text-transform: uppercase;
	text-align: center;
	background: #F5D8B9;
	border-radius: 41px;
	/* padding: 7px 40px; */
	display: block;
	width: 150px;
	height: 32px;
}

a:hover {
	text-decoration: none;
}